<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/trip_summary.css">
    <script src="https://kit.fontawesome.com/e076f466c1.js" crossorigin="anonymous"></script>
    <title>TRIP SUMMARY</title>
</head>
<body>
    <div class="container-trip-summary-page">
        <main class="main"> 
            <div class="logo">
                <img src="../img/logo.svg">
            </div>

            <div class="trip-dropdown-menu">
                <button class="dropdown-button"><i class="fa-solid fa-caret-down"></i> Select trip</button>
                <div class="dropdown-content">
                    <a href="#">Berlin+data</a>
                    <a href="#">Berlin+data</a>
                    <a href="#">Berlin+data</a>
                    <a href="#">Berlin+data</a>
                </div>
            </div>

            <div class="back-button">
                <button>Back</button>
            </div>

            <div class="total">
                <button>
                    <output name="result"><i class="fa-solid fa-sack-dollar"></i>  Total</output>
                </button>
            </div>
            <div class="text-message">
                <h1> Add new expense: </h1>
            </div>
            
            <div class="choices">
                <div class="country">
                    <button class="dropdown-button"><i class="fa-regular fa-flag"></i>  Country  <i class="fa-solid fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <a href="#">Germany</a>
                        <a href="#">Russia</a>
                        <a href="#">Austria</a>
                        <a href="#">France</a>
                    </div>
                </div>
    
                <div class="category">
    
                </div>
                <div class="currency">
    
                </div>

            </div>

            <div class="date">

            </div>
            <div class="notes">

            </div>
            <div class="save">

            </div>
        </main>
    </div>

</body>